/* Resetarea stilurilor implicite */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stilizare generală */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

@media screen and (max-width: 768px){
    body{
        font-size:14px;
        line-height:1.4;
    }
}

#blog-name-container {
    text-align: center;
    padding: 20px 0;
    background-color: #f2f2f2;
}

#blog-name {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    position: relative;
}


header {
    background-color: #272626;
    color: #fff;
    padding: 10px 0;
    text-align: center; /* Aliniere text în centru */
}

.meniu {
    display: inline-block; /* Pentru a alinia orizontal în centru */
}

.meniu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.meniu ul li {
    display: inline;
    margin-right: 20px;
    padding: 15 px;
    width: 120 px;
    
}

.active, .meniu ul li:hover{
    background-color: #5a5656;
    border: 3px;
    padding: 10px 0;
    
}

.meniu ul li a {
    color: #fff;
    text-decoration: none;
}

.submeniu {
    display:none;
}

.meniu ul li:hover .submeniu {
    display:block;
    position:absolute;
    background-color: #333;
    margin-top: 10px;
    margin-left: -10px;
}

.meniu ul li:hover .submeniu ul {
    display: block;
    margin: 0%;

}

.meniu ul li:hover .submeniu ul li {
    display: block;
    width: 150px;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px dotted #fff;
}



main {
    padding: 20px;
}


.citat {
    background-color: #fff;
    max-width: 400px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 20px;
    align-self: flex-start; /* Aliniere sus */
}

.citat h2 {
    color: #242323;
    margin-bottom: 10px;
    text-align: center;
    flex: 1;
    margin-right: 20px;

}

.about-me {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    flex: 2;
}

.timeline {
    display: flex;
    flex-direction: column;
}

.event {
    opacity: 0;
    animation: fadeInUp 0.5s ease-in-out forwards;
    margin-bottom: 30px;
    background-color: #fff;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event:nth-child(odd) {
    align-self: flex-start;
    
}

.event:nth-child(even) {
    align-self: flex-end;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
