
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

@media screen and (max-width: 768px){
    body{
        font-size:14px;
        line-height:1.4;
    }
}

#blog-name-container {
    text-align: center;
    padding: 20px 0;
    background-color: #f2f2f2;
}

#blog-name {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    position: relative;
}


header {
    background-color: #272626;
    color: #fff;
    padding: 10px 0;
    text-align: center; 
}

.meniu {
    display: inline-block; 
}

.meniu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.meniu ul li {
    display: inline;
    margin-right: 20px;
    padding: 15 px;
    width: 120 px;
    
}

.active, .meniu ul li:hover{
    background-color: #5a5656;
    border: 3px;
    padding: 10px 0;
    
}

.meniu ul li a {
    color: #fff;
    text-decoration: none;
}

.submeniu {
    display:none;
}

.meniu ul li:hover .submeniu {
    display:block;
    position:absolute;
    background-color: #333;
    margin-top: 10px;
    margin-left: -10px;
}

.meniu ul li:hover .submeniu ul {
    display: block;
    margin: 0%;

}

.meniu ul li:hover .submeniu ul li {
    display: block;
    width: 150px;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px dotted #fff;
}



main {
    padding: 20px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.citat {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.citat h2 {
    color: #242323;
    margin-bottom: 10px;
    text-align: center;
    flex: 1;
    margin-right: 20px;

}

.profile-pic{
    justify-content: center;
    max-width: 100%;
    height: auto;
   
}
.profile-pic img {
    
   border-radius: 1rem; 
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
    height: auto;
    
    
}

.profile-pic img:hover {
    transform: scale(1.1);
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
